<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>649805484449-ihg3ngiblmruk4bg8kg9sc305u0ae3ok.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.649805484449-ihg3ngiblmruk4bg8kg9sc305u0ae3ok</string>
	<key>API_KEY</key>
	<string>AIzaSyBcSjouiPpbOk75Kw5thF6uUcUOXzSvAs0</string>
	<key>GCM_SENDER_ID</key>
	<string>649805484449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kmalen.num-rand-game</string>
	<key>PROJECT_ID</key>
	<string>random-numbers-af4ee</string>
	<key>STORAGE_BUCKET</key>
	<string>random-numbers-af4ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:649805484449:ios:59df84c44b3ee840b97be0</string>
</dict>
</plist>